.bookdiv{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    .booklist{
        margin: 10px ;
        img{
            width: 149px;
            height: 200px;
        }
        .read_name{
            color: #000;
            font-size: 18px;
            text-align: center;
        }
    }
}